<style>
.content{
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15) ;
     -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}
</style>

<!-- Carousel
    ================================================== -->
<div>
<div>
 <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/image12.png" alt="Second slide" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Making Hardware Easy.</h1>
              <p>ReFactory will change the way we make the things we love.  We help startups design, test and manufacture the next big products of tomorrow.</p>
              <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/image21.png" alt="Second slide" >
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color: rgb(58, 57, 57);">Streamlining a complex process.</h1>
              <p style="color: rgb(58, 57, 57);">Every hardware startup faces the same issues in getting their.  We've revolutionized the process so that makers can make without all the pain and risk.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/image3.png" alt="Second slide" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Local.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
   </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
    
          <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container">
    <div class="marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row-fluid">
        <div class="span4">
          
          <%= image_tag "electronics-128.png",  :style => "margin: 0 auto; display: block" %>
          <h2>Design</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
           <%= image_tag "circuit-128.png",  :style => "margin: 0 auto; display: block" %>
          <h2>Prototype</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
           <%= image_tag "factory-128.png",  :style => "margin: 0 auto; display: block" %>
          <h2>Manufacture</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
   </div><!-- /.marketing -->

    </div><!-- /.carousel -->
</div>


