<% content_for :title do %>Contact<% end %>

<h3>Contact Us</h3>

<p>We are located in Brooklyn, NY</p>
 <p>Phone: (347) 470-5703 </p>
 <p>Email: info@refactory.co </p>
 <p>Location: 547 Sackett St, Brooklyn, NY </p>
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=547+Sackett+Street,+Brooklyn,+NY&amp;ie=UTF8&amp;hq=&amp;hnear=547+Sackett+St,+Brooklyn,+Kings,+New+York+11217&amp;ll=40.686105,-73.984423&amp;spn=0.031241,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?t=m&amp;q=547+Sackett+Street,+Brooklyn,+NY&amp;ie=UTF8&amp;hq=&amp;hnear=547+Sackett+St,+Brooklyn,+Kings,+New+York+11217&amp;ll=40.686105,-73.984423&amp;spn=0.031241,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
