<% content_for :title do %>Manufacturing<% end %>
<h3 class="text-center">Manufacturing</h3>
<p>In our 6400 square foot facility in Gowanus, Brooklyn, we have the capability to get your product through it's first manufacturing run.  We have a PCB assembly line capable of 2000 boards a day as well as a class 10K cleanroom and a full machine shop.  We also offer box build and packaging servcices as well. </p>