<% content_for :title do %>Team <%end %>

<h3 class="text-center">Team</h3>
<div class="row">
<div class="span5">
  <h4 class="text-center"> Tom Kennedy </h4>  
   <%= image_tag "Tom_headshot.png",  :style => "margin: 0 auto; display: block" %>
  <p></p>
  <p>Tom Kennedy has worked on a wide range of technical projects.  He’s worked on medical devices, industrial control systems, robotics, wireless products and consumer electronics.  
    He worked from 2004-2008 at Honeybee Robotics, an aerospace company.  There he was the lead electrical engineer for the Sample Manipulation System, a robotic sample handling system aboard Mars Curiosity which continues to operate to this day on the surface of Mars. 
    After Honeybee, Tom co-founded EnergyHub and served as the Director of Hardware Development and CTO.  He also served on the Board of Directors up until its acquisition by Alarm.com.  
    At EnergyHub he led the development of seven products that were deployed in the thousands by utility companies throughout the US. He worked on every aspect of the development from the hardware 
    and firmware R&D to the selection of the contract manufacturers and the certification and mass production of the products.  It was through this process that he learned firsthand how hardware startups get products made overseas and the challenges they face in doing so.</p>
</div>
  <div class="span1"></div>
<div class="span5">
    <h4 class="text-center"> Ben Gebhardt</h4>  
  <%= image_tag "Ben_headshot.png",  :style => "margin: 0 auto; display: block" %>
  <p></p>
  <p>Ben Gebhardt has spent his career mostly in consumer audio electronics.  This has allowed him to design a wide variety of designs over his 14 year career.  
    Ben started his career as a sustaining engineer at Alesis Studio Electronics in Santa Monica.  After Alesis he went on to join Harman Multimedia.  
    At Harman he got to design products from a clean sheet of paper all the way through to mass production.  
    It was at Harman that he cut his teeth in overseas manufacturing where he worked directly with the factory and Chinese engineers.  
    These designs ended up in over a million products worldwide.  He moved on from Harmon as an employee and continued as an independent consultant for Harman for another couple years.  
    After Harman he consulted for variety of clients including Altec Lansing and Luidia.  
    Eventually he ended up at EnergyHub where he spent a solid two years.  Ben grew their product line from 3 to 5 products and initiated production of the new products.  He was also instrumental in overseeing and executing testing of IEC 65000, UL, and FCC compliance standards. 
    Since EnergyHub, Ben has been consulting for Beats by Dre and was the lead electrical engineer on the Beats team for all of 2012 until spring 2013. 
    </p>
  
</div>
</div>