<% content_for :title do %>Testing <% end %>
<h3 class="text-center">Testing</h3>
<div class="row text-center">
    <div class="span2"></div>
<div class="span3 text-left">
	<h4>Functional</h4>
  <ul class="text-left">
    <li>Power Supply Testing</li>
    <li>Software Testing</li>
    <li>RF Link Budget Verification</li>
    <li>Firmware Black Box Testing</li>
    <li>Audio Performance</li>
  </ul>
</div>
  
  <div class="span2"></div>

<div class="span3 text-left">
	<h4>Environmental</h4>
  <ul class="text-left">
    <li>Thermal Limit</li>
    <li>Thermal Cycling</li>
    <li>Drop Testing</li>
    <li>Vibration/Shock*</li>
  </ul>
</div>

</div>


<div class="row text-center">
  <div class="span2"></div>
<div class="span3 text-left">
  <h4>EMI/EMC Pre-Testing</h4>
   <ul class="text-left">
    <li>FCC/IC Unintentional Radiators</li>
    <li>ESD IEC 61000-4-2</li>
    <li>Radiated Immunity IEC 61000-4-3</li>
    <li>EFT IEC 61000-4-4</li>
    <li>Surge IEC 61000-4-5</li>
    <li>Conducted Immunity IEC 61000-4-6</li>
    <li>Brownout IEC 61000-4-11</li>
    <li>Ring Wave IEC 61000-4-12</li>
      </ul>
</div>
<div class="span2"></div>
<div class="span3 text-left">
	<h4>Reliability</h4>
 <ul class="text-left">
    <li>Life Testing</li>
    <li>Failure Testing</li>
    <li>Stress Testing</li>
  </ul>
</div>
  
</div>