<p id="notice"><%= notice %></p>
<article class="panel">

<h4 class="panel-heading">Edit Post</h4>
<%= render 'form' %>

<%= link_to 'Show', @post, class: 'label label-primary label-sx' %> |
<%= link_to 'Back', posts_path, class: 'label label-default label-sx' %>
</article>

